lz4==4.3.2
statsmodels==0.14.2
omegaconf==2.4.0.dev3
Babel==2.11.0
fasteners==0.19
tensorboard-data-server==0.7.2
param==2.1.0
pyct==0.5.0
keyring==24.3.1
gpt_wrapper==0.2.0
nvidia-cufft-cu12==11.2.1.3
pyodbc==5.0.1
jedi==0.18.1
dask==2024.5.0
wheel==0.43.0
requests-toolbelt==1.0.0
qtconsole==5.5.1
einops==0.8.1
glfw==2.9.0
pydantic==2.5.3
wsproto==1.2.0
altair==5.0.1
hydra-joblib-launcher==1.2.0
backports.cached-property==1.0.1
jupyterlab-widgets==1.0.0
itemloaders==1.1.0
outcome==1.3.0.post0
distro==1.9.0
mkl-fft==1.3.8
pyviz_comms==3.0.2
anaconda-project==0.11.1
partd==1.4.1
botocore==1.34.69
frozendict==2.4.2
iniconfig==1.1.1
hydra-submitit-launcher==1.2.0
smmap==4.0.0
datashader==0.16.2
pydeck==0.8.0
zipp==3.17.0
numpy==1.26.4
pathspec==0.10.3
threadpoolctl==2.2.0
cookiecutter==2.6.0
six==1.16.0
async-lru==2.0.4
pillow==10.3.0
anaconda-catalogs==0.2.0
aioitertools==0.7.1
hydra_zen==0.14.0
mpmath==1.3.0
jellyfish==1.0.1
cloudpickle==2.2.1
nvidia-cusparse-cu12==12.3.1.170
imageio==2.37.0
streamlit==1.32.0
mkl-random==1.2.4
openpyxl==3.1.2
conda_index==0.5.0
pyflakes==3.2.0
argon2-cffi-bindings==21.2.0
pyxdg==0.27
jupyter_server==2.14.1
elasticsearch==8.16.0
jupyterlab==4.0.11
importlib-metadata==7.0.1
ply==3.11
incremental==22.10.0
gymnasium==1.1.1
conda-pack==0.7.1
ipykernel==6.28.0
Sphinx==7.3.7
astropy-iers-data==0.2024.6.3.0.31.14
ipywidgets==7.8.1
python-lsp-black==2.0.0
markdown-it-py==2.2.0
pywavelets==1.5.0
xyzservices==2022.9.0
blinker==1.6.2
lightning-utilities==0.12.0
colorcet==3.1.0
service-identity==18.1.0
executing==0.8.3
three-merge==0.1.1
Send2Trash==1.8.2
stack-data==0.2.0
sphinxcontrib-applehelp==1.0.2
QtAwesome==1.2.2
anaconda-navigator==2.6.0
PyQt5==5.15.10
pyzmq==25.1.2
wcwidth==0.2.5
QDarkStyle==3.2.3
cambrian==0.0.post1.dev592+g170fe8b
rope==1.12.0
semver==3.0.2
pycosat==0.6.6
nest-asyncio==1.6.0
textdistance==4.2.1
PyOpenGL==3.1.9
mkl-service==2.4.0
filelock==3.13.1
joblib==1.4.2
ipython==8.25.0
menuinst==2.1.1
pip==24.0
tifffile==2023.4.12
tabulate==0.9.0
json5==0.9.6
linkify-it-py==2.0.0
torchmetrics==1.6.1
tomli==2.0.1
scikit-image==0.25.2
attrs==24.3.0
tldextract==3.2.0
Events==0.5
sphinxcontrib-qthelp==1.0.3
conda-package-handling==2.3.0
anaconda-anon-usage==0.4.4
more-itertools==10.1.0
arrow==1.2.3
contourpy==1.2.0
python-dotenv==0.21.0
jupyterlab-pygments==0.1.2
aiobotocore==2.12.3
pymanopt==2.2.1
certifi==2024.8.30
cssselect==1.2.0
torch==2.5.1
pyOpenSSL==24.0.0
sympy==1.13.1
pettingzoo==1.24.3
mistune==2.0.4
yarl==1.9.3
sphinxcontrib-devhelp==1.0.2
PyQtWebEngine==5.15.6
numexpr==2.8.7
anyio==4.2.0
conda-token==0.5.0+1.g2209e04
pandas==2.2.2
mujoco-py==2.1.2.14
PyJWT==2.8.0
matplotlib-inline==0.1.6
itemadapter==0.3.0
nbformat==5.9.2
anaconda-client==1.12.3
Automat==20.2.0
whatthepatch==1.0.2
jaraco.classes==3.2.1
soupsieve==2.5
HeapDict==1.0.1
stable_baselines3==2.6.0
grpcio==1.68.1
jeepney==0.7.1
nvidia-nvjitlink-cu12==12.4.127
nvidia-cusolver-cu12==11.6.1.9
prompt-toolkit==3.0.43
jsonpointer==2.1
s3fs==2024.3.1
truststore==0.8.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
archspec==0.2.3
Jinja2==3.1.4
panel==1.4.4
boltons==23.0.0
Twisted==23.10.0
astroid==2.14.2
RestrictedPython==8.0
PyQt5-sip==12.13.0
nbclient==0.8.0
pylint==2.16.2
protobuf==3.20.3
ptyprocess==0.7.0
itsdangerous==2.2.0
python-dateutil==2.9.0.post0
holoviews==1.19.0
mujoco==3.3.1
colorama==0.4.6
aiohttp==3.9.5
idna==3.7
sentence-transformers==3.3.1
PyDispatcher==2.0.5
transformers==4.46.3
pycparser==2.21
comm==0.2.1
sip==6.7.12
requests==2.32.2
debugpy==1.6.7
PyYAML==6.0.2
conda-content-trust==0.2.0
parso==0.8.3
conda==24.11.3
jupyter-lsp==2.2.0
plotly==5.22.0
decorator==5.1.1
Flask==3.0.3
loguru==0.7.3
webencodings==0.5.1
aiosignal==1.2.0
pydocstyle==6.3.0
triton==3.1.0
terminado==0.17.1
bcrypt==3.2.0
sniffio==1.3.0
dask-expr==1.1.0
imbalanced-learn==0.12.3
opencv-python==4.10.0.84
bayesian-optimization==2.0.3
MarkupSafe==2.1.3
python-snappy==0.6.1
toolz==0.12.0
networkx==3.2.1
w3lib==1.21.0
pyarrow==14.0.2
pkce==1.0.3
msgpack==1.0.3
inflection==0.5.1
cryptography==42.0.5
hyperlink==21.0.0
black==24.4.2
pytz==2024.1
pyasn1-modules==0.2.8
jsonschema==4.19.2
yapf==0.40.2
kiwisolver==1.4.4
mypy-extensions==1.0.0
wrapt==1.14.1
qstylizer==0.2.2
tzdata==2023.3
charset-normalizer==2.0.4
SQLAlchemy==2.0.30
Markdown==3.4.1
rpds-py==0.10.6
jupyter_client==8.6.0
Unidecode==1.2.0
psutil==5.9.0
h11==0.14.0
pylint-venv==3.0.3
conda-libmamba-solver==24.1.0
tensorboard==2.18.0
hydra-nevergrad-sweeper==1.4.0.dev0
pandocfilters==1.5.0
bokeh==3.4.1
Protego==0.1.16
beautifulsoup4==4.12.3
pyerfa==2.0.1.4
widgetsnbextension==3.6.6
python-lsp-server==1.10.0
docutils==0.18.1
gitdb==4.0.7
lxml==5.2.1
mdit-py-plugins==0.3.0
safetensors==0.4.5
lmdb==1.4.1
wurlitzer==3.0.2
sphinxcontrib-htmlhelp==2.0.0
constantly==23.10.4
jmespath==1.0.1
jupyterlab_server==2.25.1
sphinxcontrib-serializinghtml==1.1.10
fsspec==2024.3.1
annotated-types==0.6.0
referencing==0.30.2
intervaltree==3.1.0
conda_package_streaming==0.10.0
setuptools==69.5.1
scikit-learn==1.4.2
libarchive-c==2.9
parsel==1.8.1
nvidia-cuda-runtime-cu12==12.4.127
pkginfo==1.10.0
lckr_jupyterlab_variableinspector==3.1.0
nvidia-nvtx-cu12==12.4.127
pycurl==7.45.2
nvidia-cuda-nvrtc-cu12==12.4.127
docstring-to-markdown==0.11
greenlet==3.0.1
tokenizers==0.20.3
pyhpo==3.3.1
importlib_resources==6.5.2
fastjsonschema==2.16.2
notebook==7.0.8
py-cpuinfo==9.0.0
jupyter-console==6.6.3
pickleshare==0.7.5
frozenlist==1.4.0
gensim==4.3.2
imagesize==1.4.1
tqdm==4.67.1
libmambapy==1.5.8
nvidia-cublas-cu12==12.4.5.8
cachetools==5.3.3
jupyter_core==5.7.2
conda-repo-cli==1.0.88
tornado==6.4.1
hydra-config==0.0.11
isort==5.13.2
navigator-updater==0.5.1
Pygments==2.15.1
jsonschema-specifications==2023.7.1
torchvision==0.20.1
conda-build==24.5.1
chardet==4.0.0
multidict==6.0.4
kaggle==1.6.17
selenium==4.27.1
seaborn==0.13.2
SecretStorage==3.3.1
toml==0.10.2
sentry-sdk==2.27.0
h5py==3.11.0
nvidia-curand-cu12==10.3.5.147
defusedxml==0.7.1
tomlkit==0.11.1
distributed==2024.5.0
Scrapy==2.11.1
anaconda-cloud-auth==0.5.1
nevergrad==1.0.3
docker-pycreds==0.4.0
nvidia-cuda-cupti-cu12==12.4.127
unicodedata2==15.1.0
numpydoc==1.7.0
mypy==1.10.0
atomicwrites==1.4.0
ipython-genutils==0.2.0
nltk==3.8.1
nbconvert==7.10.0
llvmlite==0.42.0
python-json-logger==2.0.7
lazy_loader==0.4
zope.interface==5.4.0
pexpect==4.8.0
alabaster==0.7.16
ale-py==0.10.2
astropy==6.1.0
et-xmlfile==1.1.0
numba==0.59.1
imageio-ffmpeg==0.6.0
zict==3.0.0
python-slugify==5.0.2
elastic-transport==8.15.1
binaryornot==0.4.4
pure-eval==0.2.2
click==8.1.7
ujson==5.10.0
ruamel.yaml==0.17.21
traitlets==5.14.3
patsy==0.5.6
imagecodecs==2023.1.23
Farama-Notifications==0.0.4
typing_extensions==4.11.0
argon2-cffi==21.3.0
ruamel-yaml-conda==0.17.21
packaging==23.2
diff-match-patch==20200713
pydantic_core==2.14.6
tinycss2==1.2.1
xarray==2023.6.0
autopep8==2.0.4
pycodestyle==2.11.1
rich==13.3.5
GitPython==3.1.37
nvidia-nccl-cu12==2.21.5
scipy==1.15.2
appdirs==1.4.4
jupyter-events==0.10.0
cffi==1.16.0
cma==4.0.0
sortedcontainers==2.4.0
trio-websocket==0.11.1
Brotli==1.0.9
pyasn1==0.4.8
jupyter==1.0.0
opensearch-py==2.8.0
absl-py==2.1.0
text-unidecode==1.3
pytest==7.4.4
submitit==1.5.2
spyder==5.5.1
pluggy==1.0.0
mccabe==0.7.0
hydra-core==1.4.0.dev1
Bottleneck==1.3.7
asttokens==2.0.5
websocket-client==1.8.0
regex==2023.10.3
jupyter_server_terminals==0.4.4
pygame==2.6.1
pyls-spyder==0.4.0
Cython==3.0.12
hvplot==0.10.0
urllib3==2.2.2
tblib==1.7.0
Rtree==1.0.1
PySocks==1.7.1
flake8==7.0.0
multipledispatch==0.6.0
trio==0.28.0
notebook_shim==0.2.3
requests-file==1.5.1
pytoolconfig==1.2.6
uc-micro-py==1.0.1
mdurl==0.1.0
cycler==0.11.0
tenacity==8.2.2
dill==0.3.8
lazy-object-proxy==1.10.0
tables==3.9.2
huggingface-hub==0.26.2
jsonpatch==1.33
wandb==0.19.10
QtPy==2.4.1
platformdirs==3.10.0
nvidia-cudnn-cu12==9.1.0.70
entrypoints==0.4
spyder-kernels==2.5.0
fcmaes==1.6.11
pyparsing==3.0.9
zstandard==0.22.0
locket==1.0.0
watchdog==4.0.1
cytoolz==0.12.2
intake==0.7.0
snowballstemmer==2.2.0
smart-open==5.2.1
etils==1.12.2
prometheus-client==0.14.1
setproctitle==1.3.6
fonttools==4.51.0
Werkzeug==3.0.3
matplotlib==3.8.4
sphinxcontrib-jsmath==1.0.1
bleach==4.1.0
python-lsp-jsonrpc==1.1.2
overrides==7.4.0
queuelib==1.6.2
